*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Red Hat Display', sans-serif;
}
.cont {
    overflow: hidden;
    max-width: 1440px;
    height: 700px;
    justify-content: center;
    display: flex;
    align-items: center;
    background-image: url(images/pattern-background-desktop.svg);
    background-size: contain;
    background-repeat: no-repeat;
  
    background-repeat: 1;
    background-color: hsl(225, 100%, 98%);
  }
    
   
 .box{
    height: 480px;
    width: 280px;
    background-color: hsl(225, 100%, 98%);
    border-radius: 14px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.233);
    
 }
 .plan{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-bottom: 16px;
    background-color: hsl(225, 100%, 94%);
    padding: 12px 10px;
    border-radius: 8px;
    font-size: 12px;
 }
 .change{
    margin-left: 32px;
    color: hsl(245, 75%, 52%);
    font-weight: 700;
 }
 .annual-plan{
    display: flex;
    flex-direction: column;
    gap: 3px;
    
 }
 .Annual-text{
    color: hsl(223, 47%, 23%);
    font-weight: 700;
 }
 .pra{
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    margin-left: 12px;
    margin-right: 12px;
 }
 .order{
    margin-top: 8px;
    font-size: 18px;
    font-weight: 900;
   color:  hsl(223, 47%, 23%);
 }
 .cancel{
    margin-bottom: 32px;
    font-size: 12px;
    font-weight: 700;
    color: hsl(224, 23%, 55%);
 }
 a{
    text-decoration: none;
    color: hsl(224, 23%, 55%);
 }
 .proceed{
    background-color: hsl(245, 75%, 52%);
    padding: 8px 52px;
    border-radius: 8px;
    font-size: 12px;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.274);

 }
 p{
    font-weight: 700;
    color: hsl(224, 23%, 55%);
 }
 a{
    font-weight: 500;
 }
.price{
    font-weight: 500;

 }
 .text-pro{
  color:  hsl(225, 100%, 98%); 
  font-weight: 700;
 }
